/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/*Typography*/
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  color: var(--main-typ-clr);
}
/*Variables*/
:root {
  --main-typ-clr: #eaeaea;
  --main-typdark-clr: #050404;
  --main-bg-clr: #eaeaea;
  --main-brdr-clr: #4a1942;
  --main-nav-clr: #2e1c2b;
  --main-actn-clr: #893168;
}
/*Utility Classes*/

.u-icon--small {
  height: 2rem;
}

.u-btn {
  padding-left: 8px;
  padding-right: 8px;
  border: solid var(--main-brdr-clr) 2px;
  border-radius: 10px;
  background-color: var(--main-brdr-clr);
  color: var(--main-typ-clr);
  cursor: pointer;
}

.u-btn:hover {
  background-color: var(--main-actn-clr);
  border-color: var(--main-actn-clr);
}

.u-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.u-tab {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: translateY(36px);
  border-color: var(--main-brdr-clr);
  background-color: var(--main-nav-clr);
  width: 360px;
  color: var(--main-typ-clr);
}

.u-tab:not(#u-active):hover {
  background-color: var(--main-actn-clr);
}

#u-active {
  background-color: var(--main-bg-clr);
  height: 32px;
  border-bottom: 0;
  transform: translateY(34px);
  z-index: 2;
  color: var(--main-typdark-clr);
}
/*Global Styling*/
body,
html {
  padding: 0;
  min-height: 100vh;
}
/*General Layout Styling*/
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/*Header Styling*/
.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: solid 2px var(--main-brdr-clr);
  padding: 16px;
  background-color: var(--main-nav-clr);
  z-index: 1;
}

/*Branding Styling*/
.branding {
  display: flex;
}
.branding__logo {
  height: 3rem;
}
/*Nav Styling*/
.nav__tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
  z-index: 0;
}
/*Main Styling*/
.main {
  padding: 16px;
  background-color: var(--main-bg-clr);
}

/*Card Styling*/
.card {
  display: flex;
  flex-direction: column;
  border: solid 2px var(--main-brdr-clr);
  border-radius: 10px;
  margin-top: 16px;
  padding: 8px;
}

.card__review {
  display: inline;
  color: blue;
  text-decoration: underline;
}

.card__review:hover {
  color: orange;
  cursor: pointer;
}

.rating__star-container {
  display: flex;
  justify-content: space-evenly;
}

.rating__star {
  height: 3rem;
}

.card__buttons {
  display: flex;
  justify-content: end;
}

.card__button {
  border: none;
  background-color: var(--main-bg-clr);
  border-radius: 10px;
}

.card__button:hover {
  background-color: lavender;
  cursor: pointer;
}

.card__buffer-box {
  height: 48px;
  width: max-content;
}

/*Shelf Styling*/
.shelf__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

/*Footer Styling*/
.footer {
  text-align: center;
  border-top: solid 2px var(--main-brdr-clr);
}

/*Modal Styling*/
